<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.mvp" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application>

        <activity android:name=".MvpActivity"></activity>
        <activity android:name=".NetActivity"></activity>

    </application>

</manifest>
