<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.video">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity android:name=".DemoActivity" />
        <activity android:name=".libtorrentj.TorrentjActivity" />
        <activity android:name=".ui.FragmentActvity"/>

        <service
            android:name=".libtorrentj.TorrentjService"
            android:stopWithTask="false" />
        <provider
            android:name="com.kotlin.video.libtorrentj.MainFileProvider"
            android:authorities="com.kotlin.video.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
