<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:theme="@style/AppTheme">
        <activity android:name=".ImageActivity"></activity>

    </application>

</manifest>
